
@keyframes float {
    0% { transform: translateY(0) rotate(45deg); }
    100% { transform: translateY(-120vh) rotate(45deg); }
}

@keyframes float {
    0% { transform: translateY(0); }
    100% { transform: translateY(-120vh); }
}

/* Confetti Canvas */
#confetti {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.surprise-photo {
    width: 260px;
    height: 320px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    cursor: pointer;
    transition: opacity 0.5s ease;
}


body {
    margin: 0;
    overflow: auto;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

.container {
    margin-top: 80px;
}

.title {
    font-size: 3rem;
    animation: pop 1.5s ease-in-out infinite alternate;
}

@keyframes pop {
    from { transform: scale(1); }
    to { transform: scale(1.05); }
}

/* Typewriter Text */
.typewriter {
    font-size: 1.6rem;
    width: 80%;
    margin: 20px auto;
    min-height: 60px;
}

/* Reveal Message Button */
button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 1.2rem;
    border: none;
    background: #ff6f91;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}

button:hover {
    background: lightblue;
}

.hidden {
    display: none;
}

/* heart */
/* Heart Balloons */
.heart {
    position: absolute;
    bottom: -120px;
    width: 50px;
    height: 50px;
    background-color: red; /* default color */
    transform: rotate(40deg);
    animation: float 7s linear infinite;
    opacity: 0.9;
}

.heart::before,
.heart::after {
    content: "";
    width: 50px;
    height: 50px;
    background-color: inherit;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -25px;
    left: 0;
}

.heart::after {
    left: -25px;
    top: 0;
}

/* Different balloon colors */
.h1 { left: 10%; background-color: red; animation-delay: 0s; }
.h2 { left: 30%; background-color:white; animation-delay: 2s; }
.h3 { left: 60%; background-color: red; animation-delay: 4s; }
.h4 { left: 80%; background-color: white; animation-delay: 1s; }

/* Floating animation */